* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
}

html{
    height: 100%;
    width: 100%;
}

body {
    font: 13px Helvetica, Arial;
    height: 100%;
    width: 100%;
}

form {
    background-color: dimgray;
    padding: 1px;
    bottom: 0;
    width: 100%;
}

form input {
    border: 0;
    padding: 10px;
    width: 100%;
    margin-right: .5%;
}

p {
    margin-bottom: 0;
}

ul{
    list-style-type: none;
    padding-inline-start: 5px;
}

li{
    width: 100%;
}

#container-top {
    height: 100%;
}

#message-container {
    height: 100%;
}

#message-list {
    position: relative;
    height: 91%;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

#user-list {
    position: relative;
    height: 91%;
    overflow-y: auto;
}


#user-banner{
    padding-left: 10px;
}

#online-banner{
    padding-left: 10px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

#user-list li {
    padding: 2px 5px;
}

@media only screen and (max-width: 600px) {
}